<section class="blog-list">
  <div class="main-container">
    <div class="blog-list-contain">
      {% for block in section.blocks %}
        <div class="blog-list-item">
            {% block.settings.blogs %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{% endschema %}

{% stylesheet %}
  .blog-list-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
{% endstylesheet %}
