<section class="footer">
  <div class="container">
    <footer>
        <p> All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </footer>
  </div>
</section>
{% stylesheet %}
  .footer {
    padding: 2rem 0;
    background-color: #f8f8f8;
  }

  .footer-links {
    list-style: none;
    padding: 0;
  }

  .footer-links li {
    display: inline;
    margin-right: 1rem;
  }

  .footer-links a {
    text-decoration: none;
    color: #333;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }
{% endstylesheet %}